{% extends "layout.html.twig" %}

{% set active = 'about' %}

{% block meta %}
    <title>About, Derek Harvey, Guitar Lessons in Northampton</title>
    <meta name="description" content="Musician in Northampton. Worked in music shops as a Guitar Tutor, around Northampton. From Beginner Guitar Lesson, including Acoustic and Electric Guitar Lesson">
    <meta name="keywords" content="Guitar Lessons, Guitar Lesson, Guitar Lesson Northampton, Guitar Tuition, Guitar Tuition Northampton, Northampton UK, Northampton, UK, Music, Learn to play, Learn to play Guitar, Learning to play Guitar, Guitar, Guitars, Learn Guitar, Guitar, Guitar Teacher, Guitar, Lessons, Northampton, Northants, Northamptonshire, Recreational Guitar Tutor, Recreational, Electric Guitar Lessons, Derek Harvey, Derek, Harvey">
{% endblock %}

{% block content %}
	<h1>About me</h1>
	<h2>I am a well respected Musician around Northampton</h2>
	<p>Having also worked in music shops I noticed there was a shortage of guitar tutors especially mobile guitar tutors, so I took it upon myself to right this wrong and offer my services as a mobile recreational guitar tutor.</p>
	<h3>What is a Mobile Guitar Tutor?</h3>
	<p>This means you don’t even need to step out your door, I come to you at your convenience. All lessons are in 30 minute sessions or longer if you require and are catered on a one to one basis. I also have a full enhanced CRB police check that will give you peace of mind which you are more than welcome to view.</p>
	<h3>Block Booking Lessons</h3>
	<p>There is also a facility to block book lessons if you wish to give as a present for a loved one. Whatever your standard of playing beginner or intermediate, young or older I will endevour to give you the best tuition suited to your requirments.</p>
	<p>Please <a href="/contact.html">contact me</a> to discuss block booking lessons.</p>
    <h3>Safe and Secure Guitar Lessons</h3>
	<p>I have a full enhanced CRB police check that will give you peace of mind which you are more than welcome to view.</p>
	<h3>Thank you for visiting my website</h3>
{% endblock %}
