{% extends "layout.html.twig" %}

{% set active = "guitar-lessons-northampton" %}

{% block meta %}
    <title>Northampton, Derek Harvey, Guitar Lessons in Northampton</title>
    <meta name="description" content="Guitar Lessons in Northampton, Northamptshire UK. Play Guitar, Tutor in Northampton, Beginner, Acoustic, Electric Guitar Lesson">
    <meta name="keywords" content="Guitar Lessons, Guitar Lesson, Guitar Lesson Northampton, Guitar Tuition, Guitar Tuition Northampton, Northampton UK, Northampton, UK, Music, Learn to play, Learn to play Guitar, Learning to play Guitar, Guitar, Guitars, Learn Guitar, Guitar, Guitar Teacher, Guitar, Lessons, Northampton, Northants, Northamptonshire, Recreational Guitar Tutor, Recreational, Electric Guitar Lessons, Derek Harvey, Derek, Harvey">
{% endblock %}

{% block content %}
    <h1>Northampton</h1>
    <h2>Mobile Guitar Lessons in Northampton</h2>
    <p>Derek Harvey provides Mobile Guitar Lessons in Northampton, Northamptshire UK. If this is your local area and you are interested in learning how to play the guitar, then please get into contact with me and we can discuss how you can learn to play the guitar.</p>
    <h3>Guitar Lessons for Beginners</h3>
    <p>Have you always wanted to play guitar, but never got around to actually getting started? Here is reason to begin. You’ll learn how to hold a guitar and pick, the names of parts of the guitar, a scale, a few chords, and a couple songs.</p>
    <p>Whatever your standard of playing guitar. The Acoustic Guitar Lessons and Electric Guitar Lessons are suited for a beginner or intermediate, young or older person.</p>
    <h3>Guitar Lessons for Kids</h3>
    <p>Derek Harvey is Fully <a href="http://www.crb.gov.uk">CRB Checked</a>, The CRB’s aim is to help organisations in the public, private and voluntary sectors by identifying candidates who may be unsuitable to work with children or other vulnerable members of society. So you can be rest assured that Derek Harvey is a safe and friendly Guitar Tutor in Northampton.</p>
    <h3>Contact me</h3>
    <p>If you are looking to book a guitar lesson then derek harvey offers mobile guitar lessons. I am interested in providing electric, acoustic guitar lessons online or i could create guitar video lessons, if you are interested in one of these then please contact me. If you are looking for free guitar lessons then you should consider looking at my guitar lesson videos available soon.</p>
    <p>If you would like to find out more or book a lesson then please use the <a href="/contact.html"><strong>contact page, you can either use the contact form or my mobile number.</p>
{% endblock %}
