{% extends "layout.html.twig" %}

{% block meta %}
    <title>Mobile Guitar Tutor, Derek Harvey, Guitar Lessons in Northampton</title>
    <meta name="description" content="Mobile Guitar Tutor, Beginner, Intermediate Guitar Lesson, Acoustic Guitar Lesson, Acoustic Guitar Lesson, Electric Guitar Lesson">
    <meta name="keywords" content="Guitar Lessons, Guitar Lesson, Guitar Lesson Northampton, Guitar Tuition, Guitar Tuition Northampton, Northampton UK, Northampton, UK, Music, Learn to play, Learn to play Guitar, Learning to play Guitar, Guitar, Guitars, Learn Guitar, Guitar, Guitar Teacher, Guitar, Lessons, Northampton, Northants, Northamptonshire, Recreational Guitar Tutor, Recreational, Electric Guitar Lessons, Derek Harvey, Derek, Harvey">
{% endblock %}

{% block content %}
    <h1>Mobile Guitar Tutor in Northampton</h1>
    <h2>Hi my name is Derek Harvey</h2>
    <p>I am a well respected Musician around Northampton. Having also worked in music shops I noticed there was a shortage of guitar tutors especially mobile guitar tutors, so I took it upon myself to right this wrong and offer my services as a mobile recreational guitar tutor.</p>
    <h3>I'm a mobile guitar tutor</h3>
    <p>This means you don’t even need to step out your door, I come to you at your convenience. All lessons are in 30 minute sessions or longer if you require and are catered on a one to one basis.</p>
    <h3>Safe and Friendly Guitar Lessons</h3>
    <p>I'm Fully CRB Checked, so you can be rest assured that you will be provided with a safe and friendly Guitar Tutor for you or your children to use in Northampton.</p>
{% endblock %}