{% extends "layout.html.twig" %}

{% set active = "free-guitar-lessons" %}

{% block meta %}
    <title>Free Guitar Lessons, Derek Harvey, Guitar Lessons in Northampton</title>
    <meta name="description" content="Free guitar lesson with every block of 10 Guitar Lessons you pre-book in advance. Northampton Beginner, Acoustic and Electric Guitar Lesson">
    <meta name="keywords" content="Guitar Lessons, Guitar Lesson, Guitar Lesson Northampton, Guitar Tuition, Guitar Tuition Northampton, Northampton UK, Northampton, UK, Music, Learn to play, Learn to play Guitar, Learning to play Guitar, Guitar, Guitars, Learn Guitar, Guitar, Guitar Teacher, Guitar, Lessons, Northampton, Northants, Northamptonshire, Recreational Guitar Tutor, Recreational, Electric Guitar Lessons, Derek Harvey, Derek, Harvey">
{% endblock %}

{% block content %}
    <h1>Free Guitar Lessons</h1>
    <p>We are offering a free guitar lesson with every block of 10 lessons you pre-book in advance. This means you could start booking your guitar lessons and receiving your free guitar lessons for each block you book.</p>
    <p>This means by pre-booking multiple lessons you can save quite a bit, by booking 10 guitar lessons in advance you get a free guitar lesson worth £15.00.</p>
    <p>If you are looking for basic guitar lessons, acoustic guitar lessons, guitar lessons for beginners, then this could be the ideal opportunity for you.</p>
    <p>Please use the Guitar Lesson Booking and Prices page to book based on the sessions you require.</p>
    <p>If you would like to start the tremalo arm spinning, please contact me by my contact form or call me directly on .</p>
{% endblock %}
