{% extends "layout.html.twig" %}

{% set active = "mobile-guitar-lessons" %}

{% block meta %}
    <title>Mobile Lessons, Derek Harvey, Guitar Lessons in Northampton</title>
    <meta name="description" content="Mobile guitar tutor in Northampton. Guitar Tutor, Northampton Guitar Tutor, Beginner Guitar Lesson, Acoustic Guitar Lesson, Electric Guitar Lesson">
    <meta name="keywords" content="Guitar Lessons, Guitar Lesson, Guitar Lesson Northampton, Guitar Tuition, Guitar Tuition Northampton, Northampton UK, Northampton, UK, Music, Learn to play, Learn to play Guitar, Learning to play Guitar, Guitar, Guitars, Learn Guitar, Guitar, Guitar Teacher, Guitar, Lessons, Northampton, Northants, Northamptonshire, Recreational Guitar Tutor, Recreational, Electric Guitar Lessons, Derek Harvey">
{% endblock %}

{% block content %}
    <h1>Mobile Lessons</h1>
    <p>I am a mobile guitar tutor based around Northampton. Unlike other guitar tutors, this allows me to be more flexible to suit your needs; by providing mobile guitar lessons in northampton.</p>
    <p>I can come to you at your convenience at your home or any other place you would require the tuition, being mobile gives me the capability to provide you a service at your leisure.</p>
    <h2>Travelling, Distances</h2>
    <p>I’m willing to travel a fair distance to provide guitar lessons however an additional cost for the distance required will be agreed prior to bookings of lessons.</p>
    <p>If you require a lesson remotely, then special arrangement can be discussed for you to come to me.</p>
    <h2>Guitar lesson overview</h2>
    <p>A student taking music lessons meets me (the music teacher) for one-on-one training sessions ranging from 30 minutes to one hour in length (reccomended) this can be over a period of weeks or years.</p>
    <h2>Book a lesson</h2>
    <p>To find out more about booking a lessons take a look at my mobile guitar lesson prices, or to arrange a lesson, or to ask any questions, please use my <a href="/contact.html">contact form</a>.</p>
{% endblock %}
