{% extends "layout.html.twig" %}

{% set active = "prices" %}

{% block meta %}
    <title>Mobile Guitar Tutor, Derek Harvey, Guitar Lessons in Northampton</title>
    <meta name="description" content="Mobile Guitar Tutor, Beginner, Intermediate Guitar Lesson, Acoustic Guitar Lesson, Acoustic Guitar black, Electric Guitar Lesson">
    <meta name="keywords" content="Guitar Lessons, Guitar Lesson, Guitar Lesson Northampton, Guitar Tuition, Guitar Tuition Northampton, Northampton UK, Northampton, UK, Music, Learn to play, Learn to play Guitar, Learning to play Guitar, Guitar, Guitars, Learn Guitar, Guitar, Guitar Teacher, Guitar, Lessons, Northampton, Northants, Northamptonshire, Recreational Guitar Tutor, Recreational, Electric Guitar Lessons, Derek Harvey, Derek, Harvey">
{% endblock %}

{% block content %}
	<h1>Guitar Lessons Prices</h1>
	<h2>I charge a flat rate of £15.00 for a 30 minute session if you are in Northampton</h2>
	<p>There may be an extra cost for petrol if further. <a href="/contact.html">Contact me</a> to get a quote.</p><h3>Lessons</h3><p> These lessons are catered on a one to one basis. There is also a facility to block book lessons if you wish to. If you pre- book 10 lessons you get a free lesson.</p>
	<h3>Booking</h3>
	<p>If you would like to book a session then please use our contact form to send us a request or give me a phone call on <span class="telephone telephone-black"></span></p>
	<p><strong>Please note: Cancellation must be made 24 hours prior to the lesson, if more than 24 hours notice isn’t given a cancellation fee is payable for the cost of the booked lesson(s).</strong></p>
{% endblock %}
