@media only screen and (min-width: 768px) {
  #header-container,
  #main aside {
    box-shadow: 0 5px 10px #aaaaaa;
  }
  #main article {
    float: left;
    width: 57%;
  }
  #main aside {
    float: right;
    width: 34%;
  }
}
@media only screen and (min-width: 960px) {
  #header-container {
    padding: 20px 20px 0 0;
  }
  #title {
    float: left;
  }
  nav {
    float: right;
    width: 64%;
  }
  nav ul {
    margin-top: 54px;
  }
}
@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 1026px;
    margin: 0 auto;
  }
}